.btn{
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);
}

.btnh{
    padding: .3em 1em !important;
    border: 1px solid #a8a8a8 !important;
    background: #c4c4c4 url("/ModuloPQRD/consultar.xhtml/faces/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png?ln=primefaces-aristo") 50% 50% repeat-x;
    background: #c4c4c4 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #c4c4c4 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    /*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF)"; */
    font-weight: bold !important;
    color: #4f4f4f !important;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.7) !important;
    cursor: pointer !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4) !important;
}

.btnh:hover {
    border: 1px solid #7096ab;
    background: #85b2cb url(/ModuloPQRD/consultar.xhtml/faces/javax.faces.resource/images/ui-bg_highlight-hard_80_85b2cb_1x100.png?ln=primefaces-aristo) 50% 50% repeat-x;
    background: #85b2cb linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0));
    background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), to(rgba(255,255,255,0)));
    background: #85b2cb -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0));
}

.ui-growl{
    /*right: 100px !important;*/
    right: 50% !important;
}
